@import "tailwindcss";
*{
    font-family: serif;
}
.Navbg{
    background: #5A7863;
}
.textcolor{
    color: #EBF4DD;
    letter-spacing: 2px;
}

.bg{
 background-color: #EBF4DD;
}

.menuColor{
    color: #3B4953;
    font-size: 14px;
}
